<div class="buttons">
    <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close"}}">
        <img class="tpl-image image-close-window" src="{{page.stylePath}}/images/free.gif" alt="{{l10n "Close"}}" />
    </a>
</div>
<div class="info-message">{{{l10n "Desculpe, o operador não está on-line no momento. Por favor, tente novamente mais tarde."}}}</div>